<div class="layout-column align-items-center mt-50">
  <section class="layout-row align-items-center justify-content-center">
    <form (ngSubmit)="onSubmit()" [formGroup]="onSearch">
      <input formControlName="inputValue" type="text" class="large" placeholder="5-January-2000"
            id="app-input" data-test-id="app-input" />
      <button type="submit" id="submit-button" data-test-id="submit-button">Search</button>
    </form>
  </section>

  <ul *ngFor="let item of data$|async" class="mt-50 styled slide-up-fade-in" id="stockData" data-test-id="stock-data" >
    <li class="py-10">Close: {{ item.close }}</li>
    <li class="py-10">High: {{ item.high }}</li>
    <li class="py-10">Low: {{ item.low }}</li>
    <li class="py-10">Open: {{ item.open }}</li>
  </ul>

  <div *ngIf="(data$|async)&&(data$|async).length==0" class="mt-50 slide-up-fade-in"
    id="no-result" data-test-id="no-result">No Results Found</div>
</div>